sims/interface/finance_sub.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="finance_sub" targetNamespace="urn:finance_sub" xmlns:typens="urn:finance_sub" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="dataSyn">
		<part name="data"/>
	</message>
	<message name="dataSynResponse">
		<part name="dataSynReturn"/>
	</message>
	<message name="getAllDetailList"/>
	<message name="getAllDetailListResponse">
		<part name="getAllDetailListReturn"/>
	</message>
	<message name="getFinanceDetailList">
		<part name="classid"/>
		<part name="detail_ids"/>
	</message>
	<message name="getFinanceDetailListResponse">
		<part name="getFinanceDetailListReturn"/>
	</message>
	<message name="getSearchcondition"/>
	<message name="getSearchconditionResponse">
		<part name="getSearchconditionReturn"/>
	</message>
	<message name="getSearchData">
		<part name="condition" type="xsd:anyType"/>
	</message>
	<message name="getSearchDataResponse">
		<part name="getSearchDataReturn"/>
	</message>
	<portType name="finance_subPortType">
		<operation name="dataSyn">
			<input message="typens:dataSyn"/>
			<output message="typens:dataSynResponse"/>
		</operation>
		<operation name="getAllDetailList">
			<documentation>
				从子系统获取所有的财务明细列表
			</documentation>
			<input message="typens:getAllDetailList"/>
			<output message="typens:getAllDetailListResponse"/>
		</operation>
		<operation name="getFinanceDetailList">
			<documentation>
				从子系统获取财务明细列表
			</documentation>
			<input message="typens:getFinanceDetailList"/>
			<output message="typens:getFinanceDetailListResponse"/>
		</operation>
		<operation name="getSearchcondition">
			<documentation>
				从子系统中获取搜索条件
			</documentation>
			<input message="typens:getSearchcondition"/>
			<output message="typens:getSearchconditionResponse"/>
		</operation>
		<operation name="getSearchData">
			<documentation>
				从子系统中获取搜索内容
			</documentation>
			<input message="typens:getSearchData"/>
			<output message="typens:getSearchDataResponse"/>
		</operation>
	</portType>
	<binding name="finance_subBinding" type="typens:finance_subPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="dataSyn">
			<soap:operation soapAction="urn:finance_subAction"/>
			<input>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllDetailList">
			<soap:operation soapAction="urn:finance_subAction"/>
			<input>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getFinanceDetailList">
			<soap:operation soapAction="urn:finance_subAction"/>
			<input>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSearchcondition">
			<soap:operation soapAction="urn:finance_subAction"/>
			<input>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSearchData">
			<soap:operation soapAction="urn:finance_subAction"/>
			<input>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:finance_sub" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="finance_subService">
		<port name="finance_subPort" binding="typens:finance_subBinding">
			<soap:address location="http://www.zjnep.com/sims/interface/finance_sub.php"/>
		</port>
	</service>
</definitions>
